<div align="center">
  <h1>Lucky Draw</h1>

  <br/> <br />

  <form [formGroup]="drawForm" (ngSubmit)="onSubmit()">

    <label>
      <input type="hidden" formControlName="name">
    </label>

    <label>
      <input type="hidden" formControlName="email">

    </label>

    <input type="submit" value="Draw" class="cta">
    
  </form>

  <ngx-spinner
    bdColor="rgba(0,103,62, 1)"
    size="large"
    color="#ff0000"
    type="square-jelly-box">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>

  <br/> <br />

  <h5 style="color: #00673e;">{{ this.message }}</h5>

  <div *ngIf="success" class="results">
    <!--strong>Name:</strong--> 
    <span><strong>{{ drawForm.controls.name.value }}</strong></span>

    <!--strong>Email:</strong> 
    <span>{{ drawForm.controls.email.value }}</span -->
  </div>
</div>