<div align="center" class="draw">
  <h1 class="headline"><strong>Christmas Lucky Draw</strong></h1>

  <br/> <br />

  <form [formGroup]="drawForm" (ngSubmit)="onSubmit()">

    <label>
      <input type="hidden" formControlName="name">
    </label>

    <label>
      <input type="hidden" formControlName="email">

    </label>

    <input type="submit" value="Click to draw" class="cta">
    
  </form>

  <ngx-spinner
    bdColor="rgba(0,167,88, 1)"
    size="large"
    color="#ff0000"
    type="square-jelly-box">
    <p style="font-size: 20px; color: white">The lucky person is ...</p>
  </ngx-spinner>

  <br/> <br />

  <h5 style="color: #8c370f;"><strong>{{ this.message }}</strong></h5>

  <div *ngIf="success" class="results">
    <!--strong>Name:</strong--> 
    <h1 class="winner"><strong>{{ drawForm.controls.name.value }}</strong></h1>

    <!--strong>Email:</strong> 
    <span>{{ drawForm.controls.email.value }}</span -->
  </div>
</div>